.dropdown{
    height:40px;
    width:300px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
}

.rootdiv{
    background-color: #96c5fa;
    margin-top: 40px;
    margin-bottom: 40px;
}

.topdiv{
    text-align: center;
}

.leftdiv{
    background-color: #03adfc;
    padding: 40px 40px 40px 40px;
    text-align: center;
}

.mapdiv{
    padding: 40px 40px 40px 40px;
    background-color: #03adfc;
    margin-left: 20px;
}

.submitbutton{
    height:40px;
    width:150px;
    border-style: solid;
    border-radius: 5px;
    /* margin-top: 30px; */
}

.details-heading{
    margin-top: 20px;
    font-size: 20px;
}

table{
    margin: auto;
    width:100%;
    padding-left: 20px;
    padding-right: 20px;
}

.select-cell{
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}

.details-cell{
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: middle;
    border-top: 2px solid black;
}

