.project-name-span{
    margin-right: 40px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 20px;
}

.navbar-div{
    /* padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px; */
    position: sticky;
    top: 0;
    z-index: 20;
}

.test{
    text-align: right;
}

.navbar-buttons{
    margin-right:40px
}

.navbar-item{
    font-weight: 800px;
}